<div class="container">
  <h1 class="text-center ">Vegifresh Carts Detail</h1>
</div>
<table class="table w-100 m-auto">
  <thead>
    <tr>
      <th scope="col">Product image</th>
      <th scope="col">Product name</th>
      <th scope="col">Customer name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
      <th scope="col">Total</th>
      <th class="text-center">Operations</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let cat of carts">
      <th  ><img [src]="cat.productdetail.p_img" class="img-responsive rounded-circle" style="height: 100px;width:100px" alt=""></th>
      <th >{{cat.productdetail.p_name}}</th>
      <th class="cursor"  scope="row"   (click)="seeUser(cat.customerId)"  >{{cat.userdetail.uname}}</th>
      <th >{{cat.quantity}}</th>
      <th >{{cat.p_price}}</th>
      <th >{{cat.totalPrice}}</th>
      <th class="text-center">
        <button mat-button mat-raised-button color="accent" (click)="deleteCategory(cat._id)">Delete</button>
      </th>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-6 ms-auto mt-4">
    <mat-paginator #paginator [length]="totalPosts" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions"
      (page)="onChangePost($event)"></mat-paginator>
  </div>

</div>
