<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <mat-card class="border border-top-0 border-bottom-0  border-primary border-4">
          <mat-card-header class="d-flex justify-content-center border border-top-0 border-bottom-0  border-primary border-4 ">
            <mat-card-title >Enquiries
              <span matBadge="4" matBadgeOverlap="false"></span>
            </mat-card-title>

              <mat-card-subtitle class="text-center mt-2">details</mat-card-subtitle>
          </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-3 ">
      <mat-card class="border border-top-0 border-bottom-0  border-primary border-4">
          <mat-card-header class="d-flex justify-content-center border border-top-0 border-bottom-0  border-primary border-4">
            <mat-icon></mat-icon>
              <mat-card-title >Carts
              <span matBadge="4" matBadgeOverlap="false"></span>

              </mat-card-title>
              <mat-card-subtitle class="mt-2">Carts Detail </mat-card-subtitle>
          </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-3 ">
      <mat-card class="border border-top-0 border-bottom-0  border-primary border-4">
          <mat-card-header class="d-flex justify-content-center border border-top-0 border-bottom-0  border-primary border-4">
              <mat-card-title >Orders
              <span matBadge="4" matBadgeOverlap="false"></span>

              </mat-card-title>
              <mat-card-subtitle class="mt-2">Orders Detail</mat-card-subtitle>
          </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-3 ">
      <mat-card class="border border-top-0 border-bottom-0  border-primary border-4">
          <mat-card-header class="d-flex justify-content-center border border-top-0 border-bottom-0  border-primary border-4">
              <mat-card-title >Title
              <span matBadge="4" matBadgeOverlap="false"></span>

              </mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 m-3">
      <div class="col-md-6 m-auto">
        <h2 class="text-center font-weight-bold">
          Total Stock
        </h2>
      </div>
      <table class="table">
        <thead class="thead-primary bg-primary text-light" >
          <tr >
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

<div class="row">
  <div class="col-md-12 m-3">
    <div class="col-md-6 m-auto">
      <h2 class="text-center font-weight-bold">
        Orders Requests
      </h2>
    </div>
    <table class="table">
      <thead class="thead-primary bg-primary text-light" >
        <tr >
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>

<div class="row">
  <div class="col-md-12 m-3">
    <div class="col-md-6 m-auto">
      <h2 class="text-center font-weight-bold ">
        Enquiry Requests
      </h2>
    </div>
    <table class="table">
      <thead class="thead-primary bg-primary text-light" >
        <tr >
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
</div>
