<div class="hero-wrap hero-bread" style="background-image: url('assets/images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
        <h1 class="mb-0 bread">Checkout</h1>
      </div>
    </div>
  </div>
</div>


<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 ftco-animate fadeInUp ftco-animated">
        <form (submit)="paymentMode(paymentDetail)" class="billing-form" #paymentDetail="ngForm">
          <h3 class="mb-4 billing-heading">Billing Details</h3>
          <div class="row align-items-end">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control" name="fname" [(ngModel)]="customerPays!.fname" placeholder=""
                   #fnameInput="ngModel" required ngModel value=" ">

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control text-dark" name="email" ngModel placeholder=""
                [(ngModel)]="customerPays!.email" #emailInput="ngModel" required>

              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="Address"> Address </label>
                <div class="select-wrap">
                  <!-- <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select name="" id="" class="form-control">
                    <option value="">France</option>
                    <option value="">Italy</option>
                    <option value="">Philippines</option>
                    <option value="">South Korea</option>
                    <option value="">Hongkong</option>
                    <option value="">Japan</option>
                  </select> -->
                </div>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="streetaddress">Area</label>
                <input type="text" class="form-control text-dark" name="area" ngModel
                  placeholder="House number and street name" #areaInput="ngModel" required>
                  <div class="text-danger" *ngIf="areaInput.invalid && (areaInput.dirty || areaInput.touched)">
                    <div *ngIf="areaInput.errors?.required">
                      Area is required.
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="streetaddress">Street Address</label>
              <div class="form-group">
                <input type="text" class="form-control text-dark" name="address" ngModel
                  placeholder="Appartment, suite, unit etc: (optional)" #addressInput="ngModel" required>
                  <div class="text-danger" *ngIf="addressInput.invalid && (addressInput.dirty || addressInput.touched)">
                    <div *ngIf="addressInput.errors?.required">
                      Address is required.
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="streetaddress">Pincode</label>
              <div class="form-group">
                <input type="number" class="form-control text-dark" name="pincode" ngModel
                  placeholder="Appartment, suite, unit etc: (optional)" #pincodeInput="ngModel" required>
                  <div class="text-danger" *ngIf="pincodeInput.invalid && (pincodeInput.dirty || pincodeInput.touched)">
                    <div *ngIf="pincodeInput.errors?.required">
                      Pincode is required.
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Mobile">Mobile</label>
                <input type="text" class="form-control text-dark" name="mobile" ngModel placeholder=""
                [(ngModel)]="customerPays!.mobile" #mobileInput="ngModel" required>

              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="form-group">
           		<label for="postcodezip">Alternate Mob.</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div> -->
            <!-- <div class="col-md-6">
              <div class="form-group">
             	<label for="phone">Phone</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div> -->
            <!-- <div class="col-md-12">
              <div class="form-group">
                <label for="Address">Ship at </label>
                <div class="select-wrap">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select name="" id="" class="form-control">
                    <option disabled selected>Select your Shiping location</option>
                    <option value="">user address</option>
                    <option value="">Shiping address</option>

                  </select>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-md-12">
              <div class="form-group mt-4">
                <div class="radio">
                  <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
                  <label><input type="radio" name="optradio"> Ship to different address</label>
                </div>
              </div>
            </div> -->
          </div>
          <button type="submit" class="btn btn-primary w-100 py-3 px-4 mx-auto d-block">Place an order</button>
        </form>

        <!-- END -->
      </div>
      <div class="col-xl-5">
        <div class="row mt-5 pt-3">
          <div class="col-md-12 d-flex mb-5">
            <div class="cart-detail cart-total p-3 p-md-4">
              <h3 class="billing-heading mb-4">Cart Total</h3>
              <p class="d-flex">
                <span>Subtotal</span>
                <span>{{this.customerPays?.totalAmount - 30 + this.customerPays?.discount}}</span>
              </p>
              <p class="d-flex">
                <span>Delivery</span>
                <span>30.00</span>
              </p>
              <p class="d-flex">
                <span>Discount</span>
                <span>{{this.customerPays?.discount}}%</span>
              </p>
              <hr>
              <p class="d-flex total-price">
                <span>Total</span>
                <span>{{this.customerPays?.totalAmount}}</span>
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="cart-detail ">
              <!-- <h3 class="billing-heading mb-4">Payment Method</h3> -->
              <!-- <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                     <label><input type="radio" name="optradio" class="mr-2"> Razorpay</label>
                  </div>
                </div>
              </div> -->
              <!-- <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                     <label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
                  </div>
                </div>
              </div> -->
              <!-- <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                     <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                  </div>
                </div>
              </div> -->
              <!-- <div class="form-group">
                <div class="col-md-12">
                  <div class="checkbox">
                     <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
                  </div>
                </div>
              </div> -->
              <!-- <p><a href="#" class="btn btn-primary py-3 px-4">Place an order</a></p> -->
            </div>
          </div>
        </div>
      </div> <!-- .col-md-8 -->
    </div>
  </div>
</section>
