<div class="py-1 bg-primary">
  <div class="container">
    <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
      <div class="col-lg-12 d-block">
        <div class="row d-flex">
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span>
            </div>
            <span class="text ft-5"> {{topbar?.mobile}} </span>
          </div>
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                class="icon-paper-plane"></span></div>
            <span class="text">{{topbar?.email}}</span>-->
          </div>
          <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
            <span class="text">3-5 Business days delivery &amp; Free Returns</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="{{logo?.image}}" alt="VegeFresh365" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a routerLink="/" class="nav-link">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Shop</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" routerLink="shop">Shop</a>
            <!-- <a class="dropdown-item" href="cart.html">Cart</a> -->
            <a class="dropdown-item" routerLink="/checkout">Checkout</a>
          </div>
        </li>
        <li class="nav-item"><a routerLink="/aboutus" class="nav-link">About</a></li>
        <li class="nav-item"><a routerLink="/blogs" class="nav-link">Blog</a></li>
        <li class="nav-item"><a routerLink="/contactus" class="nav-link">Contact</a></li>
        <li class="nav-item cta cta-colored"><a routerLink="/addtocart" class="nav-link"><span
              class="icon-shopping_cart"></span>[{{this.cartCounter}}]</a></li>
        <li class="nav-item cta cta-colored" *ngIf="!userIsAuthenticated"><a routerLink="/auth" class="nav-link"><span
              class="fa fa-user-plus "></span></a></li>
        <li class="nav-item cta cta-colored" *ngIf="!userIsAuthenticated"><a routerLink="/auth/signup" class="nav-link">
            <span class="far fa-user"></span></a>
        </li>
        <li class="nav-item dropdown" *ngIf="userIsAuthenticated">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" *ngIf="uname">{{uname}}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" routerLink="/">Manage Profile</a>
            <a class="dropdown-item" routerLink="/wishlist">My Wishlist</a>
            <a class="dropdown-item" routerLink="/booking"> Booking's</a>
            <button class="dropdown-item" (click)="onLogout()">Logout</button>
            <!-- <a class="dropdown-item" href="cart.html">Cart</a> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
