<div class="hero-wrap hero-bread" style="background-image: url('assets/images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
        <h1 class="mb-0 bread">Products</h1>
      </div>
    </div>
  </div>
</div>



<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5 text-center">
        <ul class="product-category">
          <li *ngFor="let cat of category"><a href="javascript:void(0)" (click)="onProduct(cat.catename)">{{cat.catename
              |uppercase}}</a></li>
        </ul>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-6  col-lg-3 ftco-animate fadeInUp ftco-animated" *ngFor="let item of product">
        <div class="product">
          <a [routerLink]="['/productsingle',item._id]" class="img-prod">
            <img class="img-fluid" style="height: 200px;width:100%" src="{{item.p_img}}" alt="Colorlib Template">
          <span class="status">{{item.discount}}% off</span>
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="#">{{item.p_name}}</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span class="mr-2 price-dc">Price</span><span class="price-sale">{{item.p_price}}</span>
                </p>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <!-- <a href="javascript:void(0)"
                  class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="ion-ios-menu"></i></span>
                </a> -->
                <a href="javascript:void(0)" (click)="addTocart(item.status,item)"  class="buy-now d-flex justify-content-center align-items-center mx-1">
                  <span><i  (click)="item.status = !item.status" [class]="(item.status)?' far fa-trash-alt ':'ion-ios-cart'"></i></span>
                  </a>
                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
