.custom-height{
width: 100%;
height:654px;
object-fit:cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


app-shop-child {
  display: inline-block;
  
}


