<div class="hero-wrap hero-bread" style="background-image: url('assets/images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
        <h1 class="mb-0 bread">Products</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto shadow p-5">
      <h1 class="text-center">Signin</h1>
      <form  (ngSubmit)="signinUser(form)"  #form="ngForm">



        <div class="form-group">
          <label for="">Email</label>
          <input type="text" name="email" ngModel #emailInput="ngModel"  id="" class="form-control" placeholder="Enter your email" required>
          <div class="text-danger" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
            <div *ngIf="emailInput.errors?.required">
              Email is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="">Password</label>
          <input type="password" name="password" ngModel #passwordInput="ngModel"  class="form-control" placeholder="***************" required>
          <div class="text-danger" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
            <div *ngIf="passwordInput.errors?.required">
              password is required
            </div>
          </div>
        </div>

        <button class="btn w-50  btn-primary mx-auto d-block" [disabled]="form.invalid" >Singup</button>
        <a routerLink="/auth/signup" class="text-primary d-flex justify-content-center mt-3">Create an Account</a>
      </form>
    </div>
  </div>
</div>
